<div class="card body-padding">
  <div id="test-l-1" class="content ">
    <!-- <h4  class="text-primary mt-3">Details</h4><hr> -->
       <form class="form" [formGroup]="myform" (ngSubmit)="onSubmit()">
            <div class="row mt-3">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <!-- <label>User Name</label> -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon11">
                              <i class="fa fa-address-card"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control" formControlName="username" placeholder="User Name" aria-label="Username" aria-describedby="basic-addon11">
                  </div>
              </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <!-- <label>Title</label> -->
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon11">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div>
                        <select class="form-control" id="title" formControlName="title">
                          <option [ngValue]="null" disabled>Select Your Title</option>
                          <option *ngFor="let item of selecttitle" (value)="item.name">{{item.name}}</option>
                          <!-- <option>Banglore</option>
                          <option>Newyork</option>
                          <option>London</option>
                          <option>Dubai</option>
                          <option>Shanghai</option> -->
                          </select>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <!-- <label>First Name</label> -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon11">
                              <i class="fa fa-address-card"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control" formControlName="firstname" placeholder="First Name" aria-label="Username" aria-describedby="basic-addon11">
                  </div>
              </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                  <!-- <label>Last Name</label> -->
                  <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon11">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" formControlName="lastname" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon11">
                      </div>
                </div>
              </div>
            </div>
          
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <!-- <label>User Role</label> -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon11">
                              <i class="fa fa-address-card"></i>
                          </span>
                      </div>
                      <select class="form-control" id="city" formControlName="userrole">
                        <option [ngValue]="null" disabled>Select Your Role</option>
                        <option *ngFor="let item of role" (value)="item.name">{{item.name}}</option>
                        <!-- <option>Banglore</option>
                        <option>Newyork</option>
                        <option>London</option>
                        <option>Dubai</option>
                        <option>Shanghai</option> -->
                        </select>                        
                      </div>
              </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <!-- <label>Gender</label> -->
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon11">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div>
                        <select class="form-control" id="city" formControlName="gender">
                          <option [ngValue]="null" disabled>Select Your Gender</option>
                          <option *ngFor="let item of selectgender" (value)="item.name">{{item.name}}</option>
                          <!-- <option>Male</option>
                          <option>Female</option> -->
                          
                          </select>                          
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <!-- <label>Team</label> -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon11">
                              <i class="fa fa-address-card"></i>
                          </span>
                      </div>
                      <select class="form-control" id="city" formControlName="teams">
                        <option [ngValue]="null" disabled>Select Your Team Name</option>
                        <option *ngFor="let item of team" (value)="item.name">{{item.name}}</option>
                        <!-- <option>Banglore</option>
                        <option>Newyork</option>
                        <option>London</option>
                        <option>Dubai</option>
                        <option>Shanghai</option> -->
                        </select>                        
                      </div>
              </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <!-- <label>DOB</label> -->
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon11">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div>
                        <input type="date" class="form-control" formControlName="dob" placeholder="DOB" aria-label="DOB" aria-describedby="basic-addon11">
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <!-- <label>Job Title</label> -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon11">
                              <i class="fa fa-address-card"></i>
                          </span>
                      </div>
                      <select class="form-control" id="city" formControlName="jobtitle">
                        <option [ngValue]="null" disabled>Select Your Job Title</option>
                        <option *ngFor="let item of selectjobtitle" [ngValue]="item.name">{{item.name}}</option>
                        <!-- <option>Banglore</option>
                        <option>Newyork</option>
                        <option>London</option>
                        <option>Dubai</option>
                        <option>Shanghai</option> -->
                        </select>                       
                      </div>
              </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <!-- <label>Marital Status</label> -->
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon11">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div>
                        <select class="form-control" id="city" formControlName="maritalstatus">
                          <option [ngValue]="null" disabled>Select Your Marital Status</option>
                          <option *ngFor="let item of selectmaritalstatus" (value)="item.name">{{item.name}}</option>
                          <!-- <option>Banglore</option>
                          <option>Newyork</option>
                          <option>London</option>
                          <option>Dubai</option>
                          <option>Shanghai</option> -->
                          </select>                          
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <!-- <label>Department</label> -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon11">
                              <i class="fa fa-address-card"></i>
                          </span>
                      </div>
                      <select class="form-control" id="city" formControlName="department">
                        <option [ngValue]="null" disabled>Select Your Department Name</option>
                        <option *ngFor="let item of departmentname" (value)="item.name">{{item.name}}</option>
                        <!-- <option>Banglore</option>
                        <option>Newyork</option>
                        <option>London</option>
                        <option>Dubai</option>
                        <option>Shanghai</option> -->
                        </select>                        
                    </div>
              </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <!-- <label>Grade</label> -->
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon11">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div>
                        <select class="form-control" id="city" formControlName="grade">
                          <option [ngValue]="null" disabled>Select Your Grade</option>
                          <option *ngFor="let item of selectgrade" (value)="item.name">{{item.name}}</option>
                          <!-- <option>Banglore</option>
                          <option>Newyork</option>
                          <option>London</option>
                          <option>Dubai</option>
                          <option>Shanghai</option> -->
                          </select>                          
                      </div>
                </div>
              </div>
            </div>
            <h4 class="text-primary">Contact Details</h4><hr>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <!-- <label>Primary Email</label> -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon11">
                              <i class="fa fa-address-card"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control" formControlName="primaryemail" placeholder="Primary Email" aria-label="Username" aria-describedby="basic-addon11">
                  </div>
              </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                  <!-- <label>Personal Email</label> -->
                  <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon11">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" formControlName="personalemail" placeholder="Personal Email" aria-label="Username" aria-describedby="basic-addon11">
                      </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <!-- <label>Residence No</label> -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon11">
                              <i class="fa fa-address-card"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control" formControlName="residenceno" placeholder="Residence No  Example : 080 25252525" aria-label="Username" aria-describedby="basic-addon11">
                  </div>
              </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                  <!-- <label>Mobile No</label> -->
                  <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon11">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" formControlName="mobileno" placeholder="Mobile No" aria-label="Username" aria-describedby="basic-addon11">
                      </div>
                </div>
              </div>
            </div>
            <h4 class="text-primary">Emergency Contact</h4><hr>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <!-- <label>Full Name</label> -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon11">
                              <i class="fa fa-address-card"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control" formControlName="fullname" placeholder="Full Name" aria-label="Username" aria-describedby="basic-addon11">
                  </div>
              </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                  <!-- <label>RelationShip</label> -->
                  <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon11">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div>
                        <select class="form-control" id="city" formControlName="relationship">
                          <option [ngValue]="null" disabled>Select Your Relationship</option>
                          <option *ngFor="let item of selectrelationship" (value)="item.name">{{item.name}}</option>
                          <!-- <option>Banglore</option>
                          <option>Newyork</option>
                          <option>London</option>
                          <option>Dubai</option>
                          <option>Shanghai</option> -->
                          </select>                             
                      </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <!-- <label>Contact Email</label> -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon11">
                              <i class="fa fa-address-card"></i>
                          </span>
                      </div>
                      <input type="text" class="form-control" formControlName="contactemail" placeholder="Contact Email" aria-label="Username" aria-describedby="basic-addon11">
                  </div>
              </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                  <!-- <label>Mobile No</label> -->
                  <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon11">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" formControlName="contactno" placeholder="Mobile No" aria-label="Username" aria-describedby="basic-addon11">
                      </div>
                </div>
              </div>
            </div>
            <div class="employment-btns">
              <button type="submit" (click)="next()"  class="btn btn-outline-primary">Next</button>
            </div>
          </form>
  </div>
</div>

