<div class="card body-padding">
  <div id="test-l-4" class="content mt-4">
    <!-- <h4 class="text-primary mt-3">Passport Details</h4><hr> -->
    <div class="p-1 mb-3 pl-2 PassportDetailsalert ">
      Please note that middle names are a standard requirement for immigration authorities.Moreover make sure your enter information exactly as printed in your passport.
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <!-- <label>Primary Email</label> -->
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon11">
                      <i class="fa fa-address-card"></i>
                  </span>
              </div>
              <input type="text" class="form-control" placeholder="First Name" aria-label="Username" aria-describedby="basic-addon11">
          </div>
      </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
          <!-- <label>Personal Email</label> -->
          <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon11">
                        <i class="fa fa-phone"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Middle Name" aria-label="Username" aria-describedby="basic-addon11">
              </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <!-- <label>Last Name</label> -->
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon11">
                      <i class="fa fa-address-card"></i>
                  </span>
              </div>
              <input type="text" class="form-control" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon11">
            </div>
      </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <!-- <label>Gender</label> -->
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon11">
                      <i class="fa fa-address-card"></i>
                  </span>
              </div>
              <select class="form-control" id="city" name="city">
                <option>--Select Gender--</option>
                <option>Male</option>
                <option>Female</option>
                <!-- <option>London</option>
                <option>Dubai</option>
                <option>Shanghai</option> -->
                </select> 
            </div>
         </div>
       </div>
    
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <!-- <label>Place Of Birth</label> -->
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon11">
                      <i class="fa fa-address-card"></i>
                  </span>
              </div>
              <input type="text" class="form-control" placeholder="Place Of Birth" aria-label="Username" aria-describedby="basic-addon11">
          </div>
      </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
          <!-- <label>Country Of citizenship</label> -->
          <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon11">
                        <i class="fa fa-phone"></i>
                    </span>
                </div>
                <select class="form-control" id="city" name="city">
                  <option>--Select Country Of citizenship--</option>
                  <option>India</option>
                  <option>Newyork</option>
                  <option>UK</option>
                  <option>USA</option>
                  <!-- <option>Shanghai</option> -->
                  </select>                     
                </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <!-- <label>Passport No</label> -->
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon11">
                      <i class="fa fa-address-card"></i>
                  </span>
              </div>
              <input type="text" class="form-control" placeholder="Passport No" aria-label="Username" aria-describedby="basic-addon11">
          </div>
      </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
          <!-- <label>Description</label> -->
          <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon11">
                        <i class="fa fa-phone"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Description" aria-label="Username" aria-describedby="basic-addon11">
              </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <!-- <label>Issue Date</label> -->
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon11">
                      <i class="fa fa-address-card"></i>
                  </span>
              </div>
              <input type="text" class="form-control" placeholder="Issue Date" aria-label="Username" aria-describedby="basic-addon11">
          </div>
      </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
          <!-- <label>Expairy Date</label> -->
          <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon11">
                        <i class="fa fa-phone"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Expairy Date" aria-label="Username" aria-describedby="basic-addon11">
              </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <!-- <label>Place Of Issue</label> -->
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon11">
                      <i class="fa fa-address-card"></i>
                  </span>
              </div>
              <select class="form-control" id="city" name="city">
                <option>--Select Place Of Issue--</option>
                <option>Banglore</option>
                <option>Newyork</option>
                <option>Hyderbad</option>
                <option>Dubai</option>
                <option>Shanghai</option>
                </select> 
            </div>
         </div>
       </div>
      </div>
    <div class="employment-btns">
      <button (click)="previous()" class="btn btn-outline-primary mr-2 mt-2" type="button">Previous</button>
      <button (click)="next()" class="btn btn-outline-primary mt-2" type="button">Next</button>
    </div>
  </div>
</div>