.input-group > .form-control {
    flex: 1 1 11%;
}
.admininputgrouptext{
   max-width: 100%;
   .input-group-text {
    background-color: white;
}
   
}
input-group-prepend, .input-group-append {
    display: block;
    width: 283px;
    
    
}


   
input.larger { 
    transform: scale(1.5); 
    margin: 1px;
    } 
    .form-check-input {
        top :5px;
        left: 3px;
    }
    .admin input{
        padding:5px;
      margin-bottom:5px;
      outline: none;
    }