.input-group > .form-control {
    flex: 1 1 11%;
}
.admininputgrouptext{
   max-width: 100%;
   .input-group-text {
    background-color: white;
}  
}
input-group-prepend, .input-group-append {
    display: block;
    width: 283px;
}   
    input.larger { 
    transform: scale(1.8); 
    margin: 5px;
    } 
    .form-check-input {
        top :5px;
        left: 3px;
    }
    .admin input{
        padding:5px;
      margin-bottom:5px;
      outline: none;
    }
    .input-feild-checkbox  {
        border-radius: 5px;
        border: 1px solid #b6b6b6;
        div {
            label {
                margin: 5px;
            }
        }
    }