<div class="card card-position">
  <div class="col-md-12">
    <!-- <div class="card"> -->
        <div class="card-body">
            <form class="form" [formGroup]="myform" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <!-- <label>Name</label> -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon11">
                                <i class="ti-user"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" formControlName="bandname" placeholder="Band Name" aria-label="Username" aria-describedby="basic-addon11">
                    </div>
                </div>
                <div class="form-group">
                  <!-- <label>Department</label> -->
                    <select class="form-control custom-select" formControlName="selectdepartment">
                        <option *ngFor="let item of departmentname" (value)="item.name">{{item.name}}</option>
                            <!-- <option>IT Department</option>
                            <option>HR Department</option>
                            <option>SUPPORT Department</option>
                            <option>Sales and marketing (Business development)</option> -->
                        
                        <!-- <option>India</option>
                        <option>Sri Lanka</option>
                        <option>USA</option> -->
                    </select>
                </div>
                <div class="form-group">
                      <!-- <label>Grade</label> -->
                        <select class="form-control custom-select" formControlName="selectgrade">
                            <option *ngFor="let item of grade" (value)="item.Name">{{item.name}}</option>
                            <!-- <option>Senior Manager </option>
                            <option>Assistent Manager</option>
                            <option>Project manager</option>
                            <option>Technical Director</option>
                            <option>Project leader</option> -->
                        </select>
                </div>
            <div class="employment-btns">
                <button type="submit" (click)="showtoastr()" class="btn btn-outline-primary m-r-10">Create</button>
                <button type="submit" class="btn btn-outline-primary">Reset</button>
            </div>
                
            </form>
        </div>
    <!-- </div> -->
</div>
</div>