<div class="card body-padding">
  <div id="test-l-3" class="content">
    <h4 class="text-primary mt-3">Employment Information</h4><hr>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <!-- <label>Preferred Meal</label> -->
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon14">
                      <i class="fa fa-address-card"></i>
                  </span>
              </div>
              <select class="form-control" id="city" name="city">
                <option>--Select Employment Status--</option>
                <option>Confirmed</option>
                <option>Probation</option>
                <!-- <option>London</option>
                <option>Dubai</option>
                <option>Shanghai</option> -->
                </select> 
            </div>
      </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
          <!-- <label>Home Airport</label> -->
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon11">
                      <i class="fa fa-calendar"></i>
                  </span>
              </div>
              <input type="date" class="form-control" placeholder="Contract Date" aria-label="Username" aria-describedby="basic-addon11">
            </div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
        <!-- <label>Preferred seating</label> -->
        <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon16">
                      <i class="fa fa-globe"></i>
                  </span>
              </div>
              <select class="form-control" id="travel" name="travel">
                <option>--Select Approve Travel--</option>
                <option>Level 1 Approval</option>
                <option>Level 2 approval</option>
                <option>Level 3 approval</option>
                <!-- <option>Dubai</option>
                <option>Shanghai</option> -->
                </select>                             
            </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="form-group">
        <!-- <label>Preferred Meal</label> -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon17">
                    <i class="fa fa-user"></i>
                </span>
            </div>
            <select class="form-control" id="reportingmanager" name="reportingmanager">
              <option>--Select Reporting Manager--</option>
              <option>Bhargav</option>
              <option>Kumar</option>
              <option>Nithin</option>
              <!-- <option>Dubai</option>
              <option>Shanghai</option> -->
              </select> 
          </div>
    </div>
    </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
        <!-- <label>Preferred seating</label> -->
        <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon18">
                      <i class="fa fa-phone"></i>
                  </span>
              </div>
              <select class="form-control" id="traveldesk" name="traveldesk">
                <option>--Select Travel Desk--</option>
                <option>Banglore</option>
                <option>Newyork</option>
                <option>London</option>
                <option>Dubai</option>
                <option>Shanghai</option>
                </select>                             
            </div>
      </div>
    </div>
    </div>
    <div class="employment-btns">
      <button (click)="previous()" class="btn btn-outline-primary mr-2 mt-2" type="button">Previous</button>
      <button (click)="next()" class="btn btn-outline-primary mt-2" type="button">Next</button>
    </div>
  </div>
</div>