<div class="card">
  <div class="card-body table-responsive">
    <table class="table table-bordered ">
      <thead  class="text-danger">
        <tr>
          <th>Trip Id</th>
          <th>Trip Start Date</th>
          <th>Trip Purpose</th>
          <th>Itineraries</th>
          <th>Booked On</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>TR1399874563210</td>
          <td>03 May 2020 05:35</td>
          <td>Meeting</td>
          <td><i class="fa fa-plane"></i></td>
          <td>17 Feb 2020 18:20 Hrs</td>
        </tr>
        <tr>
          <td>TR1399874563210</td>
          <td>03 May 2020 05:35</td>
          <td>Meeting</td>
          <td><i class="fa fa-plane"></i></td>
          <td>17 Feb 2020 18:20 Hrs</td>
        </tr>
        <tr>
          <td>TR1399874563210</td>
          <td>03 May 2020 05:35</td>
          <td>Meeting</td>
          <td><i class="fa fa-plane"></i></td>
          <td>17 Feb 2020 18:20 Hrs</td>
        </tr>
        <tr>
          <td>TR1399874563210</td>
          <td>03 May 2020 05:35</td>
          <td>Meeting</td>
          <td><i class="fa fa-plane"></i></td>
          <td>17 Feb 2020 18:20 Hrs</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
