/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@import '~bs-stepper/dist/css/bs-stepper.min.css';

.ps .ps__scrollbar-y-rail {
  left: 3px;
  right: auto;
}

#toast-container > div {
  opacity:1!important;
  background-color: #2196f3;
}
