
<div class="container">
  <div class="col-md-12 responsive-padding">
    <div class="card">
        <div class="card-body">
          <div class="policya">
            <input type="text"  placeholder="Policy A" id="edit">
            <label for="edit"><i class="fa fa-pencil policyaicons"></i></label>
            <i class="fa fa-trash-o policyaicons"></i>
          </div>
          
          <ngb-tabset>

            <ngb-tab title="Flights">
                <ng-template ngbTabContent>
                  
                  <div class="customselect">
                    <select class="custom-select  mt-2">
                      <option>band1</option>
                    </select>
                  </div>
                  <div class="customselect">
                    <select class="custom-select">
                      <option>Business</option>
                    </select>
                    <span>for all trips</span>
                  </div>
                  <div class="customselect">
                    <select class="custom-select">
                      <option>Econamy</option>
                    </select>
                    <span>for journey more than<input type="number" class="Econamy" value="5">Hrs</span>
                  </div>
                  <div class="flightcustomselect">
                    <span>Levels Of Approval</span>
                    <select class="custom-select">
                      <option>1</option>
                    </select>
                    <span>for Domestic Air Tickets</span>
                  </div>
                  <div class="flightcustomselect">
                    <span>Levels Of Approval</span>
                    <select class="custom-select">
                      <option>1</option>
                    </select>
                    <span>for International Air Tickets</span>
                  </div>
                  <div class="flightcustomselect">
                    <span>Approval Required</span>
                    <select class="custom-select">
                      <option>no</option>
                    </select>
                    <span>for All GDS Carriers</span>
                  </div>
                  <div class="flightcustomselect">
                    <span>Approval Required</span>
                    <select class="custom-select">
                      <option>no</option>
                    </select>
                    <span>for All Low Cost Carriers</span>
                  </div>
                  <div class="flightcustomselect">
                    <span>Approval Required</span>
                    <select class="custom-select">
                      <option>no</option>
                    </select>
                    <span>for non Preferred carriers</span>
                  </div>
                  <div class="flightcustomselect">
                    <span>Approval Required</span>
                    <select class="custom-select">
                      <option>no</option>
                    </select>
                    <span>for Airfare</span>
                    <select class="custom-select">
                      <option>More</option>
                    </select>
                    <span>than
                    <input type="number" class="Econamy" value="45000.00">null</span>

                  </div>
                  <div class="flightcustomselect">
                    <span>Approval Required</span>
                    <select class="custom-select">
                      <option>no</option>
                    </select>
                    <span>for non Preferred carriers</span>
                    <select class="custom-select">
                      <option>More</option>
                    </select>
                    <span>than
                    <input type="number" class="Econamy" value="40000.00">null</span>

                  </div>
                  <div class="flightcustomselect">
                    <span class="for-Airfare-Over">Approval Required</span>
                    <select class="custom-select">
                      <option>no</option>
                    </select>
                    <span >for Airfare Over<input type="number" class="Econamy" value="430000.00">null</span>
                  </div>
                  <div class="flightcustomselect">
                    <span class="for-Airfare-Over">Approval Required</span>
                    <select class="custom-select">
                      <option>no</option>
                    </select>
                    <span>for WebDirect Airfare not Within<input type="number" class="Econamy" value="370000.00">null</span>
                  </div><hr>
                  <div class="admin-btn text-right">
                    <button class="btn btn-primary">Update</button>
                   </div>
                  
                </ng-template>
                
              </ngb-tab>
              <ngb-tab title="Hotels">
                <ng-template ngbTabContent>
                </ng-template>
              </ngb-tab>
             
              
            </ngb-tabset>
            
            
            
          </div>
        </div>
      </div>
    </div>
              